#!/bin/sh
# This script is meant to be executed via sudo, as root.
# It must explicitly be authorized in a sudoers file

set -e

TMP_PATH={{ borg_ynh_backup_tmp_path }}

yunohost backup create --no-compress --ignore-apps -o ${TMP_PATH}
