# Set to yes to start scanbuttond
RUN=yes

# Set to the user scanbuttond should run as
RUN_AS_USER={{ scanbuttond_user }}

# Disable logging of "no supported devices found" in /var/log/daemon.log
QUIET_LOG=1
