[Unit]
Description=JupyterHub
After=network.target

[Service]
WorkingDirectory=/opt/jupyterhub/
ExecStart=/opt/jupyterhub/venv/bin/jupyterhub --JupyterHub.spawner_class=sudospawner.SudoSpawner -f /etc/jupyterhub/jupyterhub_config.py
User=jupyterhub

[Install]
WantedBy=multi-user.target
