# -*- coding: utf-8 -*-
# Django settings for project.

SECRET_KEY = '{{ lettravox_secret_key }}'
SITE_ID = 1
SITE_URL = '{{ lettravox_url }}'
SITE_NAME = '{{ lettravox_site_name }}'

EMAIL_HOST = '{{ lettravox_smtp_host }}'
EMAIL_PORT = '587'
EMAIL_HOST_USER = '{{ lettravox_stmp_login }}'
EMAIL_HOST_PASSWORD = '{{ lettravox_smtp_password }}'
EMAIL_USE_TLS = True
ADMINS = [{% for i in lettravox_admins %}('{{ i.name }}', '{{ i.mail }}') {% endfor %}]
ALLOWED_HOSTS = ['{{ lettravox_domain }}']

# Where static files gets collected
STATIC_ROOT = '{{ lettravox_static_dir }}'
