[program:lettravox]
environment=DJANGO_SETTINGS_MODULE='settings'
directory={{ lettravox_install_dir }}
command={{ lettravox_venv_bin_path }}/gunicorn -b 127.0.0.1:{{ lettravox_gunicorn_port }} --capture-output wsgi:application
user={{ lettravox_user }}
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/lettravox.log
redirect_stderr=true
