# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
#auto eth0
#iface eth0 inet manual

auto {{ wan_ip4_iface }}
iface {{ wan_ip4_iface }} inet dhcp

{% if wan_ip6 is defined and wan_ip6_gateway is defined %}
iface {{ wan_ip6_iface }} inet6 static
	address {{ wan_ip6 }}
    gateway {{ wan_ip6_gateway }}
{% endif %}

auto {{ dmz_iface }}
iface {{ dmz_iface }} inet static
    bridge_ports eth0.30
	address {{ dmz_ip4 }}
	bridge_fd 0
    bridge_stp off
    bridge_maxwait 0
    # That is ugly but needed : cant have 2 stanzas for same bridge
    # otherwise the up/down fails.
    up ip a a {{ dmz_ip6 }} dev {{ dmz_iface }}

{% if _6to4_iface is defined %}
auto {{ _6to4_iface }}
iface {{ _6to4_iface }} inet6 v4tunnel
	address {{ _6to4_local_ipv6 }}
	local {{ _6to4_local_ipv4 }}
	endpoint {{ _6to4_remote_ipv4 }}
	up ip route add ::/0  dev {{ _6to4_iface }}
	down ip -6 route del ::/0 dev  {{ _6to4_iface }}
{% endif %}
